.new_form_container {
    box-sizing: border-box;
    height: 100vh;
    .ql-editor {
        height: 300px;
    }
    .metaContainer {
        box-sizing: border-box;
        width: 80%;
        margin: 30px auto 0 auto;
        input {
            margin: 10px 0;
            margin-left: 10%;
            margin-bottom: 10px;
            width: 80%;
            height: 30px;
            outline: none;
            border: none;
            font-size: 17px;
            text-align: center;
        }
    }
    .editorContainer {
        width: 80%;
        margin: 10px auto;
        .submitBtn {
            margin: 10px 0;
            text-align: right;
            padding: 10px;
            background-color: rgb(195, 243, 176);
            box-shadow: 2px 3px 3px rgba(163, 163, 163, 0.849);
            color: rgb(0, 0, 0);
            border: none;
            outline: none;
            font-size: 16px;
            cursor: pointer;
            float: right;
            &:hover {
                box-shadow: none;
            }
        }
    }
}