.row{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
}
.col-60-40{
    display: grid;
    grid-template-columns: 60% 40%;
}
.col-70-30{
    display: grid;
    grid-template-columns: 70% 30%;
}
.col-80-20{
    display: grid;
    grid-template-columns: 80% 20%;
}
.col-50-50{
    display: grid;
    grid-template-columns: 50% 50%;
}
.category{
    height: 100%;
}
.category-row1{
    padding: 0 15px;
    height: 500px;
    max-height: 500px;
}
.row-gap{
    grid-row-gap: 10px;
}
.col-gap{
    grid-column-gap: 10px;
}
.container-margin{
    margin: 10px 0;
}
.ad-section{
    box-shadow:  1px 1px 5px #729ce6;
    text-align: center;
    width: 98%;
}

.ad-box{
    height: 270px;
    width: 100%;
    background-color: salmon;
}

@media(max-width:700px){
    .col-60-40{
        grid-template-columns: 100%;
    }
    .col-70-30{
        grid-template-columns: 100%;
    }
    .col-80-20{
        grid-template-columns: 1fr;
    }
}