.feat_item{
    position: relative;
    background-color: #ffffff;
    // margin-top: 1%;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 2%;
    box-shadow: 0 3px 11px rgba(94, 96, 110, 0.363);
    // grid-auto-rows: 1fr; no need
    img{
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .article_detail{
        // height: 100%;
        .article{
            // background-color: brown;
            box-sizing: border-box;
            grid-column-start: 2;
            grid-column-end: 3;
            max-height: 70%;
            min-height: 70%;
            overflow: hidden;
            margin-right: 8px;
            .read_btn{
                // letter-spacing: 1.5px;
                margin-top: 7px;
                width: 70px;
                height: 26px;
                border: 0px  rgb(202, 202, 202) solid;
                background-color: rgb(202, 202, 202);
                text-align: center;
                padding: 0.7px 4px;

                a{
                    display: block;
                    color: black;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 4px;
                }
            }
        }
    }
    h2{
        // background-color: pink;
        height: 30%;
    }
    
}
@media(max-width:700px){
    .feat_item{
        // margin-bottom: 25px;
        // grid-row-gap: 10%;
        height: 150px;
    }
}