footer{
    display: grid;
    padding: 2%;
    color: white;
    background-color: black;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    grid-column-gap: 1%;
    font-size: 16px;
    .section_wrapper{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
    }
    .social_wrapper{
        ul{
            text-align: center;
            margin-top: 25%;
            li:nth-child(1){
                margin: 0;
            }
            li{
                margin-left: 20px;
                display: inline-flex;
            }
        }
    }
    
    div{

        ul{
            margin-top: 20px;
            list-style: none;
            line-height: 2;
            li{
                a{
                    text-decoration: none;
                    color: white;
                    &:hover{
                        text-decoration: underline;
                        color:gray;
                    }
                }
            }
        }
    }
}
@media(max-width:700px){
    footer{
        h3{
            font-size: 1rem;
        }
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        .section_wrapper{
            grid-template-columns: 35% 65%;
        }

        .social_wrapper{
            text-align: center;
            margin: 0 auto;
            ul{
                margin-top: 10px;
                li:nth-child(1){
                    margin: 0;
                }
                li{
                    margin-top: 0;
                    margin-left: 25px;
                    display: inline-flex;      
                }
            }
        }
    }
}