.section_container{

    display: grid;
    grid-template-rows: 3fr;
    grid-gap: 10px;
    .section_info_card{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 35% 60%;
        grid-row-gap: 2%;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        box-shadow:  0px 3px 11px rgba(94, 96, 110, 0.363);
        height: 250px;
        p{
            margin: auto;
        }
        &:nth-child(2){
            grid-template-columns: 60% 35%;
    }
    }
}